imageio~=2.9.0
numpy~=1.20.3
opencv-python-headless
pyyaml~=5.4.1
tensorboard
torch>=1.3.0
torchvision>=0.5
tqdm~=4.61.0
git+https://github.com/aliutkus/torchsearchsorted


opencv-python~=4.5.3.56
matplotlib~=3.4.3
wandb~=0.12.9